.panel{
    background-image: url(../images/dark_embroidery.png);
    color: aliceblue;
    min-height: 100px; 
}
.panel-body{
    background-color: none;
}

.container{background-color:azure;}

.puppyPics{max-height: 150px;}

.col-centered{
    float: none;
    margin: 0 auto;
}