

<body class="wrapper">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-12 mySelect">
                <select id="mySelect" class="form-control">
                    <option value="no size selected" selected>Select a size</option>
                    <option value="x-small">X-Small</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
            <div class="col-md-12">
                <div>
                    <input id="mySingleLineText" class="form-control" type="text" value="Enter the colour you want the clothing to be">
                    <textarea id="myTextarea" class="form-control" name="textarea" rows="10" cols="50">Describe your style in as few words as possible</textarea>
                </div>
            </div>

            <div class="col-md-12">
                <p class="options">Your style tends to be more:</p>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="gender" value="more masculine" checked=""> Masculine
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="gender" value="more feminine"> Feminine
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="gender" value="Both feminine and masculine"> A Mix
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <p class="options">Here are some other options for you:</p>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="options" value="a fun pattern" checked="">I like bold patterns
                    </label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="options" value=" an accessory that works with your outfit!">I want a matching accessory
                    </label>
                </div>
            </div>
            <div class="col-md-12 options">
                <div class="btn btn-default" id="myButton">Review your order</div>
            </div>
            <div class="col-md-12 options">
                <div class="panel panel-info" id="log">
                    <h3 id="order">The summary of your item:</h3></div>
            </div>
            <div class="col-md-12 options">
                <div class="panel panel-success" id="inputLog">
                    <h3 id="inputsHeading">Your inputs</h3></div>
            </div>
        </div>
    </div>
    <script src="js/final.js"></script>
</body>